
body{
    background-color: black;
}
.container{
    
    flex-direction: column;
    background-color: white;
    display: flex;
    border: 10px,solid,red;
}
.section1{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
.header {
    display: flex ;
    background-color: #1f2937;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-evenly;
    
}

.headerlogo {
    align-content: center;
    flex-direction: column;
    background-color:#1f2937 ;
}
.headerlogo h3{
    color:white;
    
}
.part2-parent{
    
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}
.part2{
    
    
    color: #dbdde1;

}
.part2 h4{
    font-size: 48px;
    
    width:3in;
}
.part2 p{
    font-size: 20px;
    width: 4.5in;

}
.image-holder{
    display: flex;
    height:2.5in;
    width: 5in;
    background-color: grey;
    align-items: center;
    justify-content: center;
    color: white;
}
.link{
    display: flex ;
    width: 70mm;
    align-items: center ;
    
    justify-content: space-between;
    color: white;
    

}
.part2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
.part2-parent button{
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: #3b82f6;
    color: white; 
    font-size: 16px;
}
img{
    
    background-color: grey;
}
.section2, .section3,.section4{
    height:4.5in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section2 b{
    font-size: 35px;

}

.random-info-icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4in;
    width: 8in;
    flex-grow: 1;

}
.random-info-icon text{
    width: auto;
    height: auto;
    justify-content: flex-end;
    align-items: flex-end;


}
.random-info-icon img{
    border: 5px,solid,#3b82f6;
}
.image{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width:1.5in;
    height: 1.75in;
    border-width: .5in;
    
    
}
.border-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    height:1.85in;
    background-color: white;
    border:5px solid #3b82f6;
    border-radius: 25%;
}

.section3{
    background-color: lightgray;
}

.section3 p {
    width: 600px;
    font-size: 30px;

}
.quote-container{
    display: flex;
    flex-direction: column;
}
.quote{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.section4{
    align-items: center;
    justify-content: center;
    display: flex;
}
.main-parent{
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
    width:9in;
    height:1.25in;
    border-radius: 10px;
    background-color: #3b82f6;
    display: flex;
    color:white;
}
.sec4-text{
    display: flex;
    flex-direction: column;
}
.button-holder{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-holder button{
    background-color: #3b82f6;
    
    width: 1.25in;
    height: auto;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    border-color: white;
     
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1in;
    background-color: #1f2937 ;
    color: white;
}